<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="ballotUri" value="https://csv-transformtrackerfiles.azurewebsites.net/api/ReceiveBallots?code=a3mn5DH2yxm1saKsly7N2ay7kNefpi2beVgaOeFrIKp6yB0RGK/yww=="/>
    <add key="trackerUri" value="https://csv-transformtrackerfiles.azurewebsites.net/api/ReceiveTrackers?code=cRWYL2Bp03oaseaI0ylD/mXvCavhxLKwTcyxGLMtxUieCaUHAhe/kw=="/>
    <add key="ballotFile" value="C:\BMDApp\Encryption\ballots.csv"/>
    <add key="trackerFile" value="C:\BMDApp\Encryption\trackers.csv"/>
  </appSettings>
</configuration>